body{
    background-image: url(./f1.png);
    color: white;
}

p{
    color: red;
}
p1{
color: blue;
}

p2{
    color: yellow;
}

p3{
    color: greenyellow;
}

p5{
    color: red;
}

p7{
    color: gray;
}

p8{
    color: grey;
}